{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<style>
    .about-text {
    font-size: 16px;  
    line-height: 1.5;  
    text-align: center;  
    color: black;  
    margin: 20px auto; 
    max-width: 700px;  
}
    </style>

<h3 class="about-text">
    IAVA (Interactive AI Video-Learning Animation for Young Children) aims to make education more engaging, interactive, and enjoyable for children grade 4 to 6. Learning about how to use math to solve real-life problems.
</h3>
{% endblock %}
